BACON_BATCH_PUBLISHERS_URLS_VERSION=develop-batch-publishers
BACON_API_PUBLISHERS_URLS_VERSION=develop-api-publishers

SPRING_PROFILES_ACTIVE=dev

MEM_LIMIT=5g
CPU_LIMIT=4

##############################################
# BATCH
##############################################
BACON_BATCH_PUBLISHERS_URLS_MAIL_ADMIN=
BACON_BATCH_PUBLISHERS_URLS_MAIL_WS_URL=
BACON_BATCH_PUBLISHERS_AT_STARTUP=
BACON_BATCH_PUBLISHERS_DEPLOY_CRON=
BACON_BATCH_PUBLISHERS_URLS_PATH_KBARTS=

BACON_API_PUBLISHERS_EBSCO_FILEPATH=
BACON_API_PUBLISHERS_EBSCO_HOSTNAME=
BACON_API_PUBLISHERS_EBSCO_USERNAME=
BACON_API_PUBLISHERS_EBSCO_PASSWORD=

BACON_API_PUBLISHERS_DEGRUYTER_FILEPATH=
BACON_API_PUBLISHERS_DEGRUYTER_HOSTNAME=
BACON_API_PUBLISHERS_DEGRUYTER_USERNAME=
BACON_API_PUBLISHERS_DEGRUYTER_PASSWORD=
##############################################
# API
##############################################
BACON_API_PUBLISHERS_URLS_JWT_SECRET=
BACON_API_PUBLISHERS_URLS_JWT_ANONYMOUSUSER=
BACON_API_PUBLISHERS_URLS_PORT=
BACON_API_PUBLISHERS_URLS_BATCH_JAR_PATH=

##############################################
#
##############################################
BACON_BATCH_PUBLISHERS_URLS_WATCHTOWER_RUN_ONCE=1
BACON_BATCH_PUBLISHERS_URLS_WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/XXXXXXX/YYYYYYY/YYYYYYYYYYYYYYY
BACON_BATCH_PUBLISHERS_URLS_WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=localhost batch-publishers-url
