BACON_BATCH_PUBLISHERS_URLS_VERSION=develop-batch-publishers

MEM_LIMIT=5g
CPU_LIMIT=4

BACON_BATCH_PUBLISHERS_URLS_PATH_KBARTS=./volumes/files

BACON_BATCH_PUBLISHERS_URLS_MAIL_ADMIN=
BACON_BATCH_PUBLISHERS_URLS_MAIL_WS_URL=
BACON_BATCH_PUBLISHERS_AT_STARTUP=0
BACON_BATCH_PUBLISHERS_DEPLOY_CRON=0

BACON_BATCH_PUBLISHERS_URLS_WATCHTOWER_RUN_ONCE=1
BACON_BATCH_PUBLISHERS_URLS_WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
BACON_BATCH_PUBLISHERS_URLS_WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=localhost batch-publishers-url
